.hello{
    margin:30px;
    position:absolute;
    left:90px;
    top:150px;
}
.bye{
    font-size:23px ;
    position:absolute;
    right:170px;
    top:60px;
    margin:20px;
}
p{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 3px;
    margin:5px; 
} 
h5{
    width: 500px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button{
    background-color: #8A0157;
}
